{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

<html>
  <head>
    <title>P402</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script src="/static/3party/jquery-1.7.min.js"></script>
    <link href="/static/style/index.css" rel="stylesheet" type="text/css">
    {% block header %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <h1 id="title">P402<small>beta</small></h1>
      <p id="slogan">Bring back real collaboration between students!</p>
    </div>

    <div id="content">
      {% block content %}
      <div id="infos">
        <div id="left">
          <p>P402 est une application proposée pour aider<br> 
            les étudiants de l’<a href="http://www.ulb.ac.be">ULB</a>
            à <strong>partager des informations</strong> entre eux. <br>
            Le site est à l’usage unique des étudiants. It's under heavy developement
            and managed by students.</p>

          <p>Pourquoi ne pas l’essayer ? <strong>
            <a href="{{login_url}}" id="login_link">Connectez-vous !</a></strong><br>
            {% if debug %}
            <small>Les développeurs peuvent passer par <a href="/syslogin">syslogin</a></small>
            {% endif %}
          </p>

          <p>P402 est ouvert à <strong>tous les étudiants</strong><br>
            mais seulement certaines sections de sciences et poly-<br>tech sont utilisables.
            Si vous êtes intéressé pour le rendre <br> disponible pour une autre faculté,
            envoyez-nous un mail à 
            <a href="p402@cerkinfo.be">p402@cerkinfo.be</a>.</p>
        </div>
        <div id="right">
          <img src="/static/images/logo.png"/>
        </div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
